# Database Configuration
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=postgres
DB_PORT=5432

# Message Broker Configuration
BROKER_URL=amqp://guest:guest@rabbitmq:5672

# Service Ports
ORDER_SERVICE_PORT=3000
PAYMENT_SERVICE_PORT=3001
INVENTORY_SERVICE_PORT=3002
SHIPPING_SERVICE_PORT=3003
NOTIFICATION_SERVICE_PORT=3004
